@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;

}
li {
  padding: 10px;
  border-bottom: 1px solid #333;
  position: relative;
}
.elevator {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: green;
  bottom: 0;
  left: 0;
}
